Repository lipro-zephyr/lpn-bridle, changes with the labels that .github/labeler.yml gives for each.
All labels: area: Modules, area: Release Notes, area: Documentation, area: Build System, area: Kconfig, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: API, area: POSIX, area: C Library, area: Samples, area: Tests, area: Drivers, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: I2C, area: SPI, area: Networking, area: Boards, area: Shields, platform: NXP, platform: STM32, platform: RPi

.github/labeler.yml:

# Copyright (c) 2021-2022 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

# https://github.com/actions/labeler/blob/main/README.md

"area: Modules":
  - "modules/**/*"
  - "west.yml"

"area: Release Notes":
  - "doc/bridle/releases/**/*"

"area: Documentation":
  - "doc/**/*"
  - "**/*.rst"

"area: Build System":
  - "share/**/*"
  - "cmake/**/*"
  - "CmakeLists.txt"

"area: Kconfig":
  - "Kconfig.bridle"
  - "Kconfig"

"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/zephyr/devicetree/*"

"area: Devicetree Binding":
  - "dts/bindings/**/*"
  - "include/zephyr/dt-bindings/**/*"

"area: Devicetree Tooling":
  - "scripts/dts/**/*"

"area: API":
  - "include/zephyr/**/*"

"area: POSIX":
  - "lib/posix/**/*"

"area: C Library":
  - "lib/libc/**/*"

"area: Samples":
  - "samples/**/*"

"area: Tests":
  - "tests/**/*"

"area: Drivers":
  - "drivers/**/*"
  - "include/zephyr/drivers/**/*.h"

"area: Modem":
  - "drivers/modem/**/*"

"area: PWM":
  - "drivers/pwm/**/*"

"area: Watchdog":
  - "drivers/watchdog/**/*"

"area: Sensors":
  - "drivers/sensors/**/*"

"area: ADC":
  - "drivers/adc/**/*"

"area: Counter":
  - "drivers/counter/**/*"

"area: CAN":
  - "include/zephyr/drivers/can.h"
  - "include/zephyr/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"

"area: EEPROM":
  - "include/zephyr/drivers/eeprom.h"
  - "drivers/eeprom/**/*"

"area: Timer":
  - "drivers/timer/**/*"

"area: I2S":
  - "drivers/i2s/**/*"

"area: I2C":
  - "drivers/i2c/**/*"

"area: SPI":
  - "drivers/spi/**/*"

"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/zephyr/net/**/*"
  - "include/zephyr/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"

"area: Boards":
  - "boards/**/*"

"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"

"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "include/zephyr/drivers/*/*nxp*"
  - "soc/arm/nxp*/**"

"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "dts/bindings/**/st*"
  - "include/zephyr/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"

"platform: RPi":
  - "boards/arm/*rpi_pico*/**"
  - "boards/arm/*rp2040*/**"
  - "boards/arm/*kb2040*/**"
  - "drivers/**/*rpi_pico*"
  - "dts/arm/rpi_pico/*"
  - "dts/bindings/**/raspberrypi*"
  - "include/zephyr/drivers/*/*rpi_pico*"
  - "soc/arm/rpi_pico/**"

doc: boards: add vendor area for UICPAL
  boards/uicpal/index.rst
Labels: area: Documentation, area: Boards

dts: vendor-prefixes: add UICPAL, AliExpress store
  dts/bindings/vendor-prefixes.txt
Labels: area: Devicetree, area: Devicetree Binding

boards: mini_usb_rp2040: switch to USB console
  boards/uicpal/mini_usb_rp2040/Kconfig.defconfig
  boards/uicpal/mini_usb_rp2040/doc/index.rst
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040.dts
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040.yaml
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040_defconfig
Labels: area: Documentation, area: Devicetree, area: Boards

boards: add Mini USB RP2040 by UICPAL AliExpress
  boards/uicpal/mini_usb_rp2040/Kconfig.defconfig
  boards/uicpal/mini_usb_rp2040/Kconfig.mini_usb_rp2040
  boards/uicpal/mini_usb_rp2040/board.cmake
  boards/uicpal/mini_usb_rp2040/board.yml
  boards/uicpal/mini_usb_rp2040/doc/img/mini_usb_rp2040.jpg
  boards/uicpal/mini_usb_rp2040/doc/index.rst
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040-pinctrl.dtsi
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040.dts
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040.yaml
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040_defconfig
Labels: area: Documentation, area: Devicetree, area: Boards

boards: mini_usb_rp2040: use ADC for die temperature
  boards/uicpal/mini_usb_rp2040/doc/index.rst
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040-pinctrl.dtsi
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040.dts
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040_chipled.yaml
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040_neopixel.yaml
Labels: area: Documentation, area: Devicetree, area: Boards

boards: mini_usb_rp2040: add LED support
  boards/uicpal/mini_usb_rp2040/CMakeLists.txt
  boards/uicpal/mini_usb_rp2040/Kconfig
  boards/uicpal/mini_usb_rp2040/board.yml
  boards/uicpal/mini_usb_rp2040/chipid_board_control.c
  boards/uicpal/mini_usb_rp2040/chipid_gpio_led0_off.c
  boards/uicpal/mini_usb_rp2040/chipid_pwm_led0_off.c
  boards/uicpal/mini_usb_rp2040/doc/index.rst
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040-pinctrl.dtsi
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040.dts
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040_chipled.overlay
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040_chipled.yaml
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040_neopixel.overlay
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040_neopixel.yaml
  boards/uicpal/mini_usb_rp2040/revision.cmake
Labels: area: Documentation, area: Devicetree, area: Boards

boards: mini_usb_rp2040: add Qwiic support
  boards/uicpal/mini_usb_rp2040/doc/index.rst
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040-grove-i2c.dtsi
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040-grove.dtsi
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040.dts
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040_chipled.yaml
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040_neopixel.yaml
Labels: area: Documentation, area: Devicetree, area: Boards

boards: mini_usb_rp2040: add I2C and SPI support
  boards/uicpal/mini_usb_rp2040/doc/index.rst
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040-pinctrl.dtsi
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040.dts
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040_chipled.yaml
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040_neopixel.yaml
Labels: area: Documentation, area: Devicetree, area: Boards

boards: mini_usb_rp2040: use timer and watchdog
  boards/uicpal/mini_usb_rp2040/Kconfig.defconfig
  boards/uicpal/mini_usb_rp2040/doc/index.rst
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040.dts
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040.yaml
Labels: area: Documentation, area: Devicetree, area: Boards

boards: mini_usb_rp2040: enable RTC access
  boards/uicpal/mini_usb_rp2040/Kconfig.defconfig
  boards/uicpal/mini_usb_rp2040/doc/index.rst
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040.dts
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040_chipled.yaml
  boards/uicpal/mini_usb_rp2040/mini_usb_rp2040_neopixel.yaml
Labels: area: Documentation, area: Devicetree, area: Boards

boards: bluepill_f103cb: use PWM, ADC and die temp.
  boards/weact/bluepill_f103cb/bluepill_f103cb.dts
  boards/weact/bluepill_f103cb/bluepill_f103cb.yaml
Labels: area: Devicetree, area: Boards

doc: boards: add vendor area for WeAct Studio
  boards/weact/index.rst
Labels: area: Documentation, area: Boards

boards: bluepill_f103cb: use external crystals
  boards/weact/bluepill_f103cb/bluepill_f103cb.dts
  boards/weact/bluepill_f103cb/bluepill_f103cb.yaml
Labels: area: Devicetree, area: Boards

boards: bluepill_f103cb: use 2kB of Flash for NVS
  boards/weact/bluepill_f103cb/bluepill_f103cb.dts
  boards/weact/bluepill_f103cb/bluepill_f103cb.yaml
Labels: area: Devicetree, area: Boards

boards: add WeAct Studio Blue Pill Plus V1.0
  boards/weact/bluepill_f103cb/Kconfig.bluepill_f103cb
  boards/weact/bluepill_f103cb/Kconfig.defconfig
  boards/weact/bluepill_f103cb/bluepill_f103cb.dts
  boards/weact/bluepill_f103cb/bluepill_f103cb.yaml
  boards/weact/bluepill_f103cb/bluepill_f103cb_defconfig
  boards/weact/bluepill_f103cb/board.cmake
  boards/weact/bluepill_f103cb/board.yml
  boards/weact/bluepill_f103cb/doc/img/bluepillplus-pinout.jpg
  boards/weact/bluepill_f103cb/doc/img/bluepillplus-v1.jpg
  boards/weact/bluepill_f103cb/doc/index.rst
  boards/weact/bluepill_f103cb/support/openocd.cfg
Labels: area: Documentation, area: Devicetree, area: Boards

[WIP] boards: bluepill_f103cb: switch to USB console
  boards/weact/bluepill_f103cb/Kconfig.defconfig
  boards/weact/bluepill_f103cb/bluepill_f103cb.dts
  boards/weact/bluepill_f103cb/bluepill_f103cb.yaml
  boards/weact/bluepill_f103cb/bluepill_f103cb_defconfig
  boards/weact/bluepill_f103cb/doc/index.rst
Labels: area: Documentation, area: Devicetree, area: Boards

boards: bluepill_f103cb: add I2C and SPI support
  boards/weact/bluepill_f103cb/Kconfig.defconfig
  boards/weact/bluepill_f103cb/bluepill_f103cb.dts
  boards/weact/bluepill_f103cb/bluepill_f103cb.yaml
Labels: area: Devicetree, area: Boards
